.intro {
    margin: 92px 0 0 calc((100% - 984px) / 2);
    max-width: 700px;
}

@media screen and (max-width: 1024px) {
    .intro {
        margin-left: calc((100% - 928px) / 2);
    }
}

@media screen and (max-width: 952px) {
    .intro {
        margin: 88px 24px 0;
    }
}

@media screen and (max-width: 425px) {
    .intro {
        margin: 64px 16px 0 0;
    }
}