.lead__subtitle {
    margin: 32px auto 0;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: white;
    max-width: 640px;
}

@media screen and (max-width: 700px) {
    .lead__subtitle {
        margin-top: 16px;
        font-size: 16px;
        line-height: 20px;
    }
}