.place {
    display: grid;
    grid-template-columns: fit-content(460px) fit-content(484px);
    /*grid-template-rows: fit-content(152px) fit-content(484px);*/
    grid-gap: 48px 40px;
    margin-top: 80px;
}

.place:nth-child(1) {
    margin: 0;
}

@media screen and (max-width: 1100px) {
    .place {
        grid-gap: 48px 32px;
        grid-template-columns: fit-content(440px) fit-content(456px);
    }
}

@media screen and (max-width: 950px) {
    .place {
        margin-top: 73px;
        grid-gap: 48px 28px;
        grid-template-columns: fit-content(340px) fit-content(352px);
    }
}

@media screen and (max-width: 750px) {
    .place {
        margin-top: 50px;
        grid-gap: 32px;
        grid-template-columns: fit-content(100%);
    }
}